<div class="row no-padding background-color">
    <div class="col-xs-12 text-center current-bed-font-size" >Current Bed: {{ currentBed }}</div>
    <div class="col-xs-2">
        <div class="btn-group-vertical static-nav" role="group">
            <button [class.highlight-box]="clickedButton == i" class="btn btn-default some" *ngFor="let location of locations let i=index" (click)="clickedButton = i; onSelectBed(location._id)">{{location._id}}</button>
        </div>
    </div>
    <div class="col-xs-10">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Select a Flower
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu " aria-labelledby="dropdownMenu1">
                <li class="list-group-item" *ngFor="let plant of plants" (click)="onSelectPlant(plant)">{{plant.cultivar}}</li>
            </ul>
        </div>
        <plant-summary-component *ngIf="currentPlant" [plant]="currentPlant"></plant-summary-component>
    </div>
</div>

<style>
    .no-padding {
        padding-left: 0;

    }
    .some {
        /*color: green;*/
        background-color:#BCF056;
    }
    .highlight-box {
        /*color: green;*/
        background-color:#006600;
        color: white;
    }

    .background-color {
        background-color: lightsteelblue;
    }

    .non-clicked-dropdown-background {
        background-color: #BCF056;
    }

    .clicked-dropdown-background {
        background-color: #006600;
    }

    .current-bed-font-size {
        font-size: medium;
    }
</style>