<div>
    <h3 class="text-center"> <b>{{_plant.cultivar}}</b></h3>
    <h4 class="text-center"><b><u>Common Name</u></b>: {{_plant.commonName}}</h4>
    <br>
    <div style="text-align: center;" *ngIf="!rated">
        <button type="button" (click)="this.rate('like')"> <span class="glyphicon glyphicon-thumbs-up"></span></button>
        <button type="button" (click)="this.rate('dislike')"><span class="glyphicon glyphicon-thumbs-down"></span></button>
    </div>

    <div *ngIf="rated">
        Thanks for your feedback!
    </div>
    <br>

    <div *ngIf="!commented">
        <textarea (input)="commentText = $event.target.value" rows="5" placeholder="Leave a comment!" wrap="on" style="width: 100%"></textarea>
        <div align="right">
            <button  type="button" (click)="this.comment(commentText)"> Submit </button>
        </div>
    </div>
    <!--<div align="right">-->
        <!--<button type="button" (click)="this.comment(commentText)"> Submit </button>-->
    <!--</div>-->

    <div *ngIf="commented">
        <h5>Recent Comments</h5>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let commentObj of comments">{{commentObj.comment}}</li>
        </ul>
    </div>
</div>

<style>
    .like-dislike-size {
        /*width: %;*/
        height: 50px;
        width: 50px;

    }

    .center-text {
        ali
    }

    .non-clicked-dropdown-background {
        background-color: #BCF056;
    }
    /*.some {*/
        /*!*color: green;*!*/
        /*background-color:#BCF056;*/
    /*}*/
    /*.highlight-box {*/
        /*!*color: green;*!*/
        /*background-color:#006600;*/
        /*color: white;*/
    /*}*/
</style>