<dialog-component></dialog-component>



<style>

    .vertical-menu {
        width: 200px;
    }

    .vertical-menu a {
        background-color: #eee;
        color: black;
        display: block;
        padding: 12px;
        text-decoration: none;
    }

    .vertical-menu a:hover {
        background-color: #ccc;
    }

    .vertical-menu a.active {
        background-color: #4CAF50;
        color: white;
    }
</style>

<img src="wcroc.png" class="img-responsive bg-img">


<h1>Digital Display Garden </h1>

<ul class="list-group">

    <select id="locationDropdown" (change)="populateFlowers()">
        <option value="">Select Bed</option>
        <option *ngFor="let location of locations" value="{{location._id}}">{{location._id}}</option>
    </select>

    <li class="list-group-item list-group-item-info">
        <span >Plants</span>
    </li>

    <li *ngFor="let plant of plants | filterBy: {commonName: searchCommonName} " class="list-group-item">

        <button (click)="showDialog = !showDialog" class="btn btn-link btn-block" >
            {{"Common Name: " + plant.commonName}} <br>
            {{"Cultivar: " +  plant.cultivar}} <br>
            {{"Garden Location: " + plant.gardenLocation}}</button>
        <dialog-component  [(visible)]="showDialog" *ngFor="let plant of plants">
             <h1>{{plant.cultivar}} (This is the last flower in the list)</h1>
             <h2>{{plant.commonName}}<br>Garden Location: {{plant.gardenLocation}}</h2>

            <br>
            <div *ngIf="!rated">
                <button type="button" (click)="this.rate('like')"><span class="glyphicon glyphicon-thumbs-up"></span> Like</button>
                <button type="button" (click)="this.rate('dislike')"><span class="glyphicon glyphicon-thumbs-down"></span> Dislike</button>
            </div>
            <div *ngIf="rated">
                Thanks for your feedback!
            </div>
            <br>

            <div *ngIf="!commented">
                <textarea [(ngModel)]="commentText" rows="5" wrap="on" style="width: 95%;"></textarea>

                <button type="button" (click)="this.comment(commentText)">Leave a comment</button>
            </div>
            <div *ngIf="commented">
                Your comment has been submitted.
            </div>
            <br>
            <br>
            <button name = {{plant.cultivar}} (click)="showDialog = !showDialog" class="btn">Close</button>


        </dialog-component>

    </li>
<!--when the following dialog box is included into the above link, the last flower is shown!-->






</ul>