<div>
    <h4>Cultivar: {{_plant.cultivar}}</h4>
    <h5>Common Name: {{_plant.commonName}}</h5>
    <h5>Bed: {{_plant.gardenLocation}}</h5>
    <br>
    <div *ngIf="!rated">
        <button type="button" (click)="this.rate('like')"> <span class="glyphicon glyphicon-thumbs-up"></span></button>
        <button type="button" (click)="this.rate('dislike')"><span class="glyphicon glyphicon-thumbs-down"></span></button>
    </div>
    <div style="text-decoration-color: green">
    <div *ngIf="rated">
        Thanks for your feedback!
    </div>
    </div>
    <br>

    <div *ngIf="!commented">
        <textarea (input)="commentText = $event.target.value" rows="5" placeholder="Leave a comment!" wrap="on" style="width: 100%;"></textarea>
        <div align="right">
            <button type="button" (click)="this.comment(commentText)"> Submit </button>
        </div>
    </div>
    <!--<div align="right">-->
        <!--<button type="button" (click)="this.comment(commentText)"> Submit </button>-->
    <!--</div>-->

    <div *ngIf="commented">
        <h5>Recent Comments</h5>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let commentObj of comments">{{commentObj.comment}}</li>
        </ul>
    </div>
</div>